:root {
  --cor-p0: #ffffff;
  --cor-p1: #FFE4D8;
  --cor-p2: #E4C4B8;
  --cor-p3: #AE6A62;
  --cor-p4: #943D36;
  --cor-p5: #382020;
  --cor-p6: #9B2426;
  --cor-p7: #6F0406;
  --cor-p8: #6D3F3F;
  --cor-p9: #000000;
}