.descontos h1 {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 80px;
}

.descontos-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.descontos-item-desc {
  max-width: 280px;
}

.descontos-item {
  display: grid;
  gap: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.descontos-btn {
  width: 140px;
  height: 32px;
  background-color: var(--cor-p3);
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
}

.descontos-btn:hover {
  background-color: #774843;
  color: #E9E9E9;
  transition: 0.3s;
}

.descontos-item p {
  color: var(--cor-p5);
}

.descontos-item::after {
  content: '';
  display: block;
  background-color: var(--cor-p4);
  width: 80px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 200px;
  border-radius: 0px 10px;
}

.descontos-item span {
  color: white;
  position: absolute;
  top: 2px;
  z-index: 1;
  left: 220px;
}


